@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

body{
    width: 100%;
}

header{
    background: #1C1E53;
}
.container-fluid{
    width: 1370px;
}
.navbar-collapse {
    align-items: center;
    justify-content: flex-end;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
}
.nav-link{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #BBBBCB;
}
.btn-link{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #BBBBCB;
    border-radius: 45px;
    padding: 8px 36px;
    margin-left: 44px;
}

.privacy h2{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 64px;
   color: #282938;
   margin-top: 128px;
}
.privacy p{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #282938;
opacity: 0.7;
margin-bottom: 64px;
}

.lorem h2{

width: 832px;
height: 56px;
left: 379px;
top: 420px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
color: #282938;
margin-bottom: 32px;

}
.p1{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
margin-bottom: 24px;
flex-wrap: wrap;
}

.lorem p{
    
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
flex-wrap: wrap;
margin-bottom: 40px;
}
.sitamet h3{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
color: #282938;
margin-bottom: 32px ;
}
.sitamet p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-bottom: 24px;
}


.li1{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: justify;
color: #282938;
opacity: 0.7;
margin-bottom: 12px;
}

.li2{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: justify;
color: #282938;
opacity: 0.7;
margin-bottom: 12px;
}
.li3{
    font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: justify;
color: #282938;
opacity: 0.7;
margin-bottom: 16px;
}

.card-img-top{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    top: 30px !important;
    left: 39px !important;
    bottom: 33px !important;
    right: 39px !important;
    
}
.card-body h5{
   
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
color: #282938;

}
.card-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: justify;
color: #282938;
opacity: 0.7;

}
.group1{
    margin-top: 150px;
}

.t1{
    background: linear-gradient(131.34deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}

.t2{
    background: linear-gradient(131.34deg, #FFD3AF 16.74%, #4F56FF 103.17%);
}

.t3{
    background: linear-gradient(131.34deg, #EEBCA7 16.74%, #C8C8C8 103.17%);
}

.t4{
    background: linear-gradient(131.34deg, #C2E7F2 16.74%, #98A4FF 103.17%);
    top: 25px;
}

.t5{
    background: linear-gradient(131.34deg, #C5BCFF 16.74%, #9BF7D5 103.17%);
    top: 25px;
}

.t6{
    background: linear-gradient(131.34deg, #D2D6FD 16.74%, #D6ACEA 103.17%);
    top: 25px;
}

.fa-arrow-right{
width: 24px;
font-size: 1.1rem;
color: #282938 ; 

}
.btntxt{
    color: #1e1e25 ; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}



footer{
background-color: #1C1E53;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 18.81%;
width: 100%;
min-height: 489px;
left: 3px;
top: 2404px;

}
.footerleft{
    margin-top: 100px;
}
.footerleft p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    padding-top: 22px;
}
.footerright {
    margin-top: 100px;
    padding-left: 140px;
}
@media (max-width:992px){
    .footerright{
        padding-left: 10px;
    }
}
.footerright h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.footerright p{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #F4F6FC;
opacity: 0.8;
}
.footerright i{
    color: #FFFFFF;
    padding-right: 26px;
    cursor: pointer;
}
.nestrow{
    background-color: #FCD980;
    width: 50%;
}
.nestrow p{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 32px;
color: #282938;
padding-top: 18px;
padding-left: 37px;
}
.nestrow a{
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.8;
 padding-left: 37px;
}

@media (max-width:768px){
    .nestrow{
        width: 100%;
    }
}
.footwrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navbar-brand{
    margin-left: 160px;
}

@media (max-width:400px){
    footer{
        display: none;
    }
    .navbar-brand{
    margin: auto;
    }

}